* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;

        .logo {
            font-weight: bold;
            font-size: 2.2rem;
            text-decoration: none;
            color: rgb(15, 15, 15);
        }

        .navbar {
            display: flex;
            align-items: center;

            ul {
                display: flex;
                gap: 4rem;
                flex-direction: row;

                li {
                    list-style: none;

                    a {
                        font-size: 1rem;
                        text-decoration: none;
                        color: rgb(27, 27, 27);
                        transition: all 0.5 ease;

                        &:hover {
                            border-bottom: 3px solid gray;
                        }
                    }
                }
            }
        }

        .iconOptions-nav {
            display: flex;
            align-items: center;
            gap: 3rem;

            a {
                display: flex;
                align-items: center;
                font-size: 0.9rem;
                text-decoration: none;
                color: rgb(27, 27, 27);

                img {
                    max-width: 20px;
                    height: auto;

                }
            }
        }
    }
}

main {

    .slider {
        margin: 0 auto;
        width: 400%;
        height: 800px;
        overflow: hidden;

        .slides {
            width: 100%;
            display: flex;

            input {
                display: none;
            }

            .slide {
                width: 25%;
                height: auto;
                position: relative;
                text-align: center;
                transition: 1s;
                margin: 0;

                img {
                    width: 100%;
                }
            }

            #radio-01 {
                &:checked~.navigation-auto .auto-btn01 {
                    background-color: white;
                }

                &:checked~.first {
                    margin-left: 0%;
                }
            }

            #radio-02 {
                &:checked~.navigation-auto .auto-btn02 {
                    background-color: white;
                }

                &:checked~.first {
                    margin-left: -25%;
                }
            }

            #radio-03 {
                &:checked~.navigation-auto .auto-btn03 {
                    background-color: white;
                }

                &:checked~.first {
                    margin-left: -50%;
                }
            }

            .navigation-manual {
                position: absolute;
                width: 100%;
                margin-top: 35%;
                display: flex;
                justify-content: center;

                .manual-btn {
                    border: 2px solid white;
                    padding: 8px;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: 0.5s;

                    &:not(:last-child) {
                        margin-right: -900px;
                    }
                }
            }

            .navigation-auto {
                position: absolute;
                width: 100%;
                margin-top: 35%;
                display: flex;
                justify-content: center;

                div {
                    border: 2px solid white;
                    padding: 8px;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: 0.5s;

                    &:not(:last-child) {
                        margin-right: -900px;
                    }
                }
            }
        }
    }

    .carrosel-container {
        h3 {
            text-align: center;
            padding: 3%;
            font-weight: 400;   
        }

        .carrosel-itens {
            display: flex;
            align-items: center;
            position: relative;

            .slider-arrow {
                background: none;
                border: none;
                font-size: 2rem;
                cursor: pointer;
                color: #333;
                transition: 0.3s;

                &:hover {
                    color: #000;
                    transform: scale(1.1);
                }
            }

            .carrosel-object {
                display: flex;
                overflow: hidden;
                width: 100%;
            }

            .carrosel-item {
                min-width: 300px;
                margin: 0 10px;
                background: #fff;
                box-shadow: 2px -2px 10px rgba(27, 27, 27, 0.2);
                text-align: center;
                padding: 10px;
                border-radius: 8px;

                .produto-image {
                    position: relative;
                    width: 100%;


                    .img-principal {
                        width: 100%;
                        height: auto;
                        border-radius: 8px;
                    }

                    .tag-lancamento {
                        color: white;
                        background-color: gray;
                        border-radius: 4px;
                        font-weight: bolder;
                        padding: 5px;
                        margin: 10px;
                        position: absolute;
                        margin-left: 25%;
                    }

                    .fav,
                    .view {
                        position: absolute;
                        right: 10px;
                        background: rgba(0, 0, 0, 0.5);
                        color: white;
                        padding: 4px 6px;
                        border-radius: 4px;
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }

                    .fav {
                        top: 40px;
                    }

                    .view {
                        top: 70px;
                    }

                    img {
                        width: 14px;
                        height: 14px;
                    }
                }

                .produto-info {
                    margin-top: 10px;

                    .stars-list {
                        display: flex;
                        justify-content: center;
                        gap: 1px;
                        list-style: none;
                        padding: 0;

                        li {
                            margin: 0;
                        }

                        li img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }

                .produto-description {
                    margin-top: 10px;

                    .info-list {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        text-align: center;

                        .descricao-item-01 {
                            font-size: 1rem;
                            color: rgb(112, 112, 112);
                        }

                        .descricao-item-02 {
                            padding-top: 0;
                            font-size: 0.8rem;
                            color: rgb(112, 112, 112);
                        }

                        .preco-item-01 {
                            font-size: 1.2rem;
                            font-weight: bolder;
                            color: rgb(221, 78, 26);
                        }

                        .preco-item-02 {
                            font-size: 0.8rem;
                            padding-top: 0;
                            color: rgb(221, 78, 26);
                        }

                        .preco-item-03 {
                            font-size: 0.8rem;
                            padding-top: 0;
                            color: black;
                            font-weight: bold;
                        }

                        li {
                            margin: 2px 0;
                            padding: 5px;
                            font-size: 14px;
                            color: #444;
                        }
                    }
                }

                .btn-buy {
                    margin-top: 10px;
                    background: gray;
                    color: white;
                    border: none;
                    padding: 7px 100px;
                    border-radius: 2px;
                    cursor: pointer;
                    font-weight: bold;
                    transition: all 0.3s ease;
                    font-size: 1.5rem;

                    &:hover {
                        transform: scale(1.1);
                        box-shadow: 2px -2px 10px rgb(27, 27, 27);
                    }
                }
            }
        }
    }

}